# llama-recipes
torch>=2.0.1
accelerate
appdirs
loralib
bitsandbytes
black==23.11.0
black[jupyter]
datasets
fire
peft==0.9
transformers==4.43
sentencepiece
py7zr
scipy
optimum
matplotlib
gradio
wandb
# rtfm
scikit-learn
pandas
numpy
lightgbm
xgboost
xport
tqdm
h5py
tables
datasets
more-itertools
kaggle
openpyxl
pynvml
torchinfo
torchmetrics
ipdb
ray
fairlearn
frozendict
folktables
ninja
einops
s3fs
boto3==1.34
webdataset
ucimlrepo
tabpfn
gradio
setuptools==69.5.1